@import 'nib'
global-reset()

body
  background #ffffff
  font-family 'Roboto', sans-serif

.wrapper
  max-width 600px
  margin 20px auto

.navigation
  ul
    display block
    >li
      display inline-block
      margin 5px
      >a
        display block
        color #333
        padding 10px 15px
        border-radius 5px
        background-color #f2f2f2
        text-decoration none

.content
  padding 20px 5px
  h1
    font-size 30px
    font-weight bold
    color #222
  h2
    color #cc0000
    font-size 16px
    margin 10px 0
    & + p
      a
        color #333
  p
    font-size 14px
    padding-top 20px
    color #AAA
    line-height 17px
    letter-spacing .2px
.item
  display block
  padding 10px
  color #333
  border-bottom  1px solid #CCC
  text-decoration none
  text-transform uppercase
  font-size 20px
